nav a {
    margin-left: 20px;
}
.item {
    border: 2px solid darkblue;
    max-width: 200px;
    padding: 20px;
}

div.form-inline form {
    display: inline;
}

.td-basket {
    width: 200px;
}

.alert {
    color: red;
}

.active {
    background-color: #a0aec0;
}
